<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum</title>
  </head>
  <body>
    <h1>Sum</h1>
    <% var sum = w+x+y+z %>
    <% var color = (sum%2) ? 'red' : 'blue' %> <!-- ternary operator -->
    <h2 style="font-size:<%= fontsize %>; border: <%= borderwidth %>px solid <%= bordercolor %>;"><%= w %>+<%= x %>+<%= y %>+<%= z %>=
      <span style="color:<%= color %>;"><%= sum %></span>
    </h2>
  </body>
</html>

